@font-face {
  font-family: 'DIN-OSP';
  src: url('fonts/din_osp11-webfont.eot');
  src: url('fonts/din_osp11-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/din_osp11-webfont.woff') format('woff'), url('fonts/din_osp11-webfont.ttf') format('truetype'), url('fonts/din_osp11-webfont.svg#NotCourierSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotCourierSans';
  src: url('fonts/notcouriersans-bold-webfont.eot');
  src: url('fonts/notcouriersans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/notcouriersans-bold-webfont.woff') format('woff'), url('fonts/notcouriersans-bold-webfont.ttf') format('truetype'), url('fonts/notcouriersans-bold-webfont.svg#NotCourierSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NotCourierSans';
  src: url('fonts/notcouriersans-webfont.eot');
  src: url('fonts/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/notcouriersans-webfont.woff') format('woff'), url('fonts/notcouriersans-webfont.ttf') format('truetype'), url('fonts/notcouriersans-webfont.svg#NotCourierSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {margin: 2em 4em; background: #FF9999; max-width: 950px; font-family: serif;}

h1, h2, h3 {color: white; font-family: serif; margin: 1em 0 0.5em 0}
h1 {font-size: 3em; color: Maroon}
h2 {font-size: 2em}
h3 {font-size: 1.25em; color: FireBrick}

a {color: FireBrick; text-decoration: none}
a:hover {color: Maroon; border-bottom: solid 1px Maroon}

a:active { 
  outline: none; 
} 

a img { 
  border: none; 
}

blockquote {font-style: italic}

img {margin: 0.5em 0 1em 0}

p {margin: 0 0 0.5em 0}
